@{
    Layout = "_Layout";
    ViewData["Title"] = "Giới thiệu";
}

<main class="main">
    <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Giới Thiệu</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <div class="video-banner bg-light pb-5">
        <div class="container align-items-center">
            <div class="video-banner-box bg-white">
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <div class="video-box-content">
                            <h3 class="video-banner-title h1"><span class="text-primary">Giới thiệu</span><strong>Molla</strong></h3><!-- End .video-banner-title -->
                            <p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Donec odio. Quisque volutpat mattis
                                eros. Nullam malesuada erat ut turpis.</p>
                            <a href="#" class="btn btn-outline-primary"><span>Khám phá ngay</span><i
                                    class="icon-long-arrow-right"></i></a>
                        </div><!-- End .video-box-content -->
                    </div><!-- End .col-md-6 -->
                    <div class="col-md-6">
                        <div class="video-poster">
                            <img src="/assets/images/video/poster-3.jpg" alt="poster">

                            <div class="video-poster-content">
                                <a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i
                                        class="icon-play"></i></a>
                            </div><!-- End .video-poster-content -->
                        </div><!-- End .video-poster -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .video-banner-box -->
        </div><!-- End .container -->
    </div>
</main>